# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FPT_Leaning\FPT_Semester_5_Block2\KTNC\LabKTCB\Lab4_KTNC\Lab4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
